<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>购票系统</title>
	<link rel="stylesheet" href="__STATIC__/style/bs/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="style/bs/css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" href="__STATIC__/style/css/index.css">
	<script src="__STATIC__/style/bs/js/jquery-1.11.3.min.js"></script>
	<script src="__STATIC__/style/bs/js/bootstrap.min.js"></script>

</head>
<body>
	<!-- 导航开始 -->
	{include file="public/header" /}
	<!-- 导航结束 -->

	<!-- 内容开始 main-->
	<div class="container">
		<div class="row text-center ticket-title">
			<h2>观众购票</h2>
			<p>—— AUDIENCE PURCHRSE TICKETS ——</p>
		</div>
		<table class="table table-bordered text-center ticket-tab">
	  		<tr class="tab-frist">
				<td>大会项目及门票</td>
				<td>VIP门票</td>
				<td>金牌门票</td>
				<td>银牌门票</td>
				<td>学术通票</td>
				<td>咨询/展览门票</td>
			</tr>
			<tr>
				<td>原价</td>
				<td>￥15,000</td>
				<td>￥10,000</td>
				<td>￥5,000</td>
				<td>￥2,000</td>
				<td>￥0</td>
			</tr>
			<tr>
				<td>现价</td>
				<td>￥15,000</td>
				<td>￥5,000</td>
				<td>￥2,500</td>
				<td>￥1,000</td>
				<td>￥0</td>
			</tr>
			<tr>
				<td>VIP商务晚宴</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>VIP午餐</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>VIP休息室</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>中国医美领袖与投资峰会</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>中国医美品牌100佳新闻发布会</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>第二届2018环球影响力小姐大赛总决赛</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>医美运营与品牌提升论坛</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>医美品牌提升与营销论坛</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>学术通票：<br>整形美容外科论坛 <br>线雕与微整形论坛 <br>与自体脂肪移植论坛 <br>抗衰老与干细胞论坛 <br>皮肤美容与光电医美论坛 <br>美学与咨询获客论坛</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td></td>
			</tr>
			<tr>
				<td>与展览地区200余家的展商交流</td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
				<td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
			</tr>
			<tr class="tab-frist">
				<td colspan="6">美创会门票超级早鸟计划</td>
			</tr>
			<tr class="text-left" style="border:0">
				<td colspan="3" style="border-bottom:2px dashed #999;border-right:0">与展览地区200余家的展商交流</td>
				<td colspan="3" style="border-bottom:2px dashed #999;border-right:0;border-left:0">5折</td>
			</tr>
			<tr class="text-left" style="border:0">
				<td colspan="3" style="border-bottom:2px dashed #999;border-right:0">2018年08月02日起</td>
				<td colspan="3" style="border-bottom:2px dashed #999;border-right:0;border-left:0">原价</td>
			</tr>
			<tr class="text-left" style="border:0">
				<td colspan="6" style="border-bottom:2px dashed #999;border-right:0">*VIP门票和金牌门票不参与打折</td>
			</tr>
			<tr class="text-left" style="border:0">
				<td colspan="6" style="border-right:0">*关于美创会大会门票，其中各项权益以（主办方）最终通知版为准。优惠码，胸卡的最终解释权归主办方环球影响力智库、美创会所有。<br><br></td>
			</tr>
		</table>

		<div class="col-sm-12" style="padding:15px 0">
			<div class="col-sm-6 col-sm-offset-3">
				<div class="col-sm-6 col-sm-offset-3 btns">
					<a href="{:url('/ennter')}" class="btn btn-success" type="submit" style="color:#fff">立即购票</a>
				</div>
			</div>
		</div>

	</div>
	<!-- 内容结束 main-->

	<!-- footer开始 -->
	{include file="public/footer" /}
	<!-- footer结束 -->
</body>
</html>