{layout name="layout" /}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理模版</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/admin.css" />
	</head>
	<body>
		<div class="wrap-container">
			<h2>添加门票类型</h2>
			<form action="{:url('admin/tickettype/adds')}" method="post" class="layui-form" style="width: 90%;padding-top: 20px;">
			<div class="layui-form-item">
				<label class="layui-form-label">票务类型：</label>
				<div class="layui-input-block">
					<input type="text" name="type" required lay-verify="required" value="" autocomplete="off" class="layui-input" >
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">价格：</label>
				<div class="layui-input-block">
					<input type="text" name="price" required lay-verify="required" value="" autocomplete="off" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">原价：</label>
				<div class="layui-input-block">
					<input type="text" name="yj" required lay-verify="required" value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">提交修改</button>
					<button type="reset" class="layui-btn layui-btn-primary">重置</button>
				</div>
			</div>
			</form>
		</div>

		<script src="__STATIC__/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script>
			//Demo
			layui.use(['form'], function() {
				var form = layui.form();
				form.render();
				//监听提交
				form.on('submit(formDemo)', function(data) {
					layer.msg(JSON.stringify(data.field));
					return false;
				});
			});
		</script>
	</body>

</html>