	<footer style="margin-top:50px">
		<!-- 友情链接 -->
		<div style="background:#424242;padding-top:20px;padding-bottom:30px">
			<div class="container">
			  <div class="row">
			  	<div class="col-sm-8">
				  	<p style="color:#fff">友情链接：</p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球影响力智库</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">环球云媒</a>  </p>
				  	<p class="col-sm-4" style="color:#fff"><a href="#">美创会</a>  </p>
			  	</div>
			  	<!-- 二维码 -->
			  	<div class="col-sm-4" style="padding-top:30px">
				  	<div class="col-sm-5">
				  		<img src="__STATIC__/images/img/ewm1.png" class="img-responsive" alt="Responsive image">
				  	</div>
				  	<div class="col-sm-5">
				  		<img src="__STATIC__/images/img/ewm2.png" class="img-responsive" alt="Responsive image">
				  	</div>
			  	</div>	
			  	


			  </div>
			</div>
		</div>
		<!-- 备案号 -->
		<div style="background:#212121;padding-top:10px">
			<div class="container">
			  <div class="row text-center">
			  	<p style="color:#999">环球云媒  © 2019 ALL RIGHTS RESERVED. 保留所有权利<br>
			  		备案号：京ICP备16000084号-1 </p>
			  </div>
			</div>
		</div>
	</footer>